<app-menu></app-menu>
<div class="container">
  <div class="row" *ngIf="isLogged">
    <h3>Bienvenido {{ username }}</h3>
  </div>
  <div class="row row-cols-1 row-cols-md-2 d-flex">
    <div
      class="card mb-3 mx-2"
      style="max-width: 540px"
      *ngFor="let movie of movies"
    >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="..." alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">
              {{movie.description}}
            </p>
            <p class="card-text">
              <small class="text-muted">Likes: {{movie.likes}}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
