<app-menu></app-menu>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form
        (ngSubmit)="onUpdateMovie()"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="title">Titulo</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                [(ngModel)]="movie.title"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="description">Descripcion</label>
              <textarea
                class="form-control"
                id="description"
                rows="3"
                name="description"
                [(ngModel)]="movie.description"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="rentPrice">Precio de Alquiler</label>
              <input
                class="form-control"
                type="number"
                id="rentPrice"
                name="rentPrice"
                [(ngModel)]="movie.rentPrice"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="salesPrice">Precio de Venta</label>
              <input
                class="form-control"
                type="number"
                id="salesPrice"
                name="salesPrice"
                [(ngModel)]="movie.salesPrice"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="stock">Stock</label>
              <input
                class="form-control"
                type="number"
                id="stock"
                name="stock"
                [(ngModel)]="movie.stock"
              />
            </div>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <img
              class="image-thumbnail"
              style="max-width: 100px"
              src="{{ movie.image }}"
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary">
              Editar Pelicula
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--  -->
